@use 'sass:map';
@use 'styles/variables' as vars;

@mixin set-font($size, $weight: fasle, $color: false) {
  font-size: $size;

  @if $weight {
    font-weight: map.get(vars.$font-weights, $weight);
  }

  @if $color {
    color: $color;
  }
}
