@use 'styles/variables' as vars;

@mixin get-columns {
  @for $size from 0 through vars.$grid-columns {
    @if $size == 0 {
      &_#{$size} {
        display: none;
      }
    } @else {
      &_#{$size} {
        display: grid;
        grid-column: span #{$size};
      }
    }
  }
}

@mixin grid-align-horizontal($align) {
  &_#{$align} {
    justify-self: $align;
  }
}

@mixin grid-align-vertical($align) {
  &_#{$align} {
    align-self: $align;
  }
}

@mixin grid-align($direction) {
  @each $align in vars.$grid-align-list {
    @if  $direction == 'x' {
      @include grid-align-horizontal($align);
    } @else {
      @include grid-align-vertical($align);
    }
  }
}
