@use 'sass:color';

$white: #fff;
$black: #000;
$transparent: transparent;

$gray: #5f5568;
$gray-light: #e6e6ef;

$purple: #883edd;
$purple-gray: #9883aa;
$purple-muted: #776681;
$purple-dark: #351d41;
$purple-dark-shadow: #24152c;
$purple-dark-deep: #1c0827;
$purple-black: #09000b;
