
extends ../../layouts/main

block content
  -
    const { header, columnTextLeft, columnTextRight } = $.requireDataPage('page-1')

  .ui-view
    h1 #{header}
    +grid
      +gridItem({ cols: 12, tCols: 6 })
        p #{columnTextLeft}
      +gridItem({ cols: 12, tCols: 6 })
        p #{columnTextRight}
