extends layouts/app/template

block content
  h1 Index Page

  div
    a(href=`${viewsUrl}/page-1/index.html`) Page 1

  div
    a(href=`${viewsUrl}/page-2/index.html`) Page 2

  +grid
    +gridItem({ cols: 12, tCols: 10 })
      +input({
        name: 'input',
        type: 'text',
        placeholder: 'Typing here ...'
      })
    +gridItem({ cols: 12, tCols: 2 })
      +button({
        type: 'button',
        status: 'primary',
      })
        | Button



